server:
  port: 18080

spring:
  datasource:
    url: jdbc:mysql://YOUR_MYSQL_HOST:3306/simon_ledger?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
    username: YOUR_MYSQL_USERNAME
    password: YOUR_MYSQL_PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: YOUR_REDIS_HOST
      port: 6379
      password: YOUR_REDIS_PASSWORD
      timeout: 600ms
      database: 0

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl

sa-token:
  is-log: false
  timeout: 604800
  active-timeout: 86400
  is-share: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

ledger:
  web:
    allowed-origin-patterns: https://ledger.simon996.com,https://admin-ledger.simon996.com
